*{
    margin: 0px;
    padding: 0px;

}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Nos permite mantener el orden y tener todos los contenidos flexibles*/
}
main{
    /*flex grow: 1 nos permite determinar q el hijo del medio nada mas cresca*/
    flex-grow: 1;
}
table {
    table-layout: fixed;
    /*nos permite que el texto no rompa la columna de la tabla*/
    Word-wrap: break-Word
    
}



/*
table ,tr,th,td{
    border: 1px solid black;
}*/